body {
  margin: 0;
  overflow: hidden; /* Hide scroll bars */
  touch-action: none; /* Disable touch gestures */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
  display: block;
  background-color: lightgray;
  border: 1px solid #ccc; /* Optional: add a border for better visibility */
  /* background-size: 40px 40px;
  background-image: linear-gradient(
      transparent 1px,
      transparent 39px,
      #989898 39px,
      #989898 40px
    ),
    linear-gradient(
      90deg,
      transparent 1px,
      transparent 39px,
      #989898 39px,
      #989898 40px
    ); */

  background-image: url("../assets/RaceTrack.svg");
  background-size: 100% 100%;

  position: absolute; /* Make sure the canvas is positioned absolutely */
}

.player {
  width: 75px;
  height: 75px;
  border-radius: 50%; /* Make the player round */
  background-color: blue;
  position: relative;
}

.speedCounters {
  position: absolute;
  z-index: 999;
  left: 50px;
  top: 50px;
}

.speedCounter {
  font-size: 20px;

  margin: 0;
}

.position {
  color: red;
}

#motion {
  visibility: visible;
  position: absolute;

  z-index: 999;

  bottom: 3%;
  left: 50%;

  transform: translateX(-50%);

  padding: 8px 12px;

  border: none;

  background-color: forestgreen;
  color: white;

  font-size: 16px;
  font-weight: bold;
  border-radius: 360px;

  width: fit-content;
}

/* .enemy {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;

  z-index: 1;
} */

.checkpoint {
  width: 50px;
  height: 50px;
  background-color: pink;
  position: relative;

  border-radius: 50%;

  z-index: 1;
}

.center-text {
  position: absolute;
  z-index: 999;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.checkpointText,
.timer,
p {
  font-size: 48px;
  color: forestgreen;

  margin: 0;
}

p {
  font-size: 24px;
}
